body{
    background-color: rgb(166, 255, 0);
    font-family:'Josefin Slab',serif !important;
    font-size: 20px;
}

#score{
    float:left  ;
    margin-left: 20px;
    font-size:40px;
}

#sketch_name {
    color: rgb(0, 140, 255);
}

#timer{
    float:right;
    margin-right:20px;
    font-size:40px;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration:6s;
    margin-top:50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(156, 78, 230)}
    to{box-shadow: 1px 1px 38px rgb(130, 191, 207)}
}